<span>Olá, {{name}} você foi escolhido para participar de uma avaliação 360°.</span>
<p>
    O objetivo desta avaliação é levantar informações relevantes,
    referente aos comportamentos e competências essenciais aos líderes e
    executivos bem-sucedidos, e em que níveis esses se apresentam.
</p>

<span>
  Nesta avaliação você está sendo convidado a avaliar <strong>Felipe Trindade</strong>.
</span>

<p>
  <strong>
    Lembrando que esse é um processo sigiloso. O líder, em avaliação, não terá acesso
    as respostas individualizadas, apenas o resultado de todas as respostas.
  </strong>
</p>

<span>Acesse o link abaixo para ser direcionado para a pesquisa.</span>

<a href="{{link}}"><strong>www.pesquisasricas.com</strong></a>
